<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>@tmbr/component</title>

</head>
<body>

<main class="max-w-xl my-12 mx-auto px-10 grid gap-10">

  <article>

    <h2 class="mb-3 text-2xl font-bold">Counter Simple</h2>

    <div class="flex" data-state="{count: 0}">
      <button class="rounded-r-none" @click="count--" aria-label="Decrement" :disabled="count <= 0">-</button>
      <span :text="count" class="bg-white border-y border-y-gray-200 grid place-content-center font-mono w-12 text-center"></span>
      <button class="rounded-l-none" @click="count++" aria-label="Increment">+</button>
    </div>

  </article>

  <article>

    <h2 class="mb-3 text-2xl font-bold">Counter Extended</h2>

    <div class="flex" id="counter">
      <button class="rounded-r-none" @click="dec" aria-label="Decrement" :disabled="count <= 0">-</button>
      <span :text="count" class="bg-white border-y border-y-gray-200 grid place-content-center font-mono w-12 text-center"></span>
      <button class="rounded-l-none" @click="inc" aria-label="Increment">+</button>

      <div class="ml-3 flex-1 flex items-center px-4 bg-sky-50 rounded-sm text-sky-600 text-sm" :show="count <  10">
        <span>Count doubled is <span :text="doubled"></span></span>
      </div>
      <div class="ml-3 flex-1 flex items-center px-4 bg-red-50 rounded-sm text-red-600 text-sm" :show="count >= 10">
        <span>Count is dangerously high</span>
      </div>

    </div>

  </article>

  <article>

    <h2 class="mb-3 text-2xl font-bold">Toggle</h2>

    <div class="flex gap-2" data-state="{active: true}">
      <span class="w-20 grid place-content-center rounded-sm font-semibold text-white text-center select-none" :class="{active: active, inactive: !active}" :text="active ? 'ON' : 'OFF'"></span>
      <button class="w-30" @click="active = !active" :text="active ? 'Deactivate' : 'Activate'"></button>
    </div>

  </article>

  <article data-state="{index: 0}">

    <h2 class="mb-3 text-2xl font-bold">Tabs</h2>

    <div role="tablist" class="flex gap-2">
      <button class="rounded-b-none" :class="[index === 0 ? 'bg-gray-100' : 'bg-gray-300']" role="tab" id="tab-1" aria-controls="tabpanel-1" :aria-selected="index === 0 ? 'true' : 'false'" @click="index = 0">
        Colorado
      </button>
      <button class="rounded-b-none" :class="[index === 1 ? 'bg-gray-100' : 'bg-gray-300']" role="tab" id="tab-2" aria-controls="tabpanel-2" :aria-selected="index === 1 ? 'true' : 'false'" @click="index = 1">
        Minnesota
      </button>
    </div>

    <div role="tabpanel" id="tabpanel-1" aria-labelledby="tab-1" :hidden="index !== 0" class="p-5 bg-gray-100">
      <h3 class="text-lg font-semibold mb-2">Colorado</h3>
      <p class="text-sm">Lorem ipsum dolor sit amet, urna class vestibulum tincidunt atque, habitasse sit wisi erat dapibus.</p>
    </div>

    <div role="tabpanel" id="tabpanel-2" aria-labelledby="tab-2" :hidden="index !== 1" class="p-5 bg-gray-100">
      <h3 class="text-lg font-semibold mb-2">Minnesota</h3>
      <p class="text-sm">Dolor ullamco sint cupidatat labore magna adipisicing elit exercitation pariatur laborum esse sint pariatur.</p>
    </div>

  </article>

  <article>

    <h2 class="mb-3 text-2xl font-bold">Form</h2>

    <form id="example" @submit.prevent="submit" data-props="{date: '2026-02-19'}">

      <div class="mb-3">
        <label for="example-name" class="sr-only">Name</label>
        <input id="example-name" :model="fields.name" type="text" placeholder="Full Name" class="p-3 w-full rounded border border-gray-300 bg-white shadow">
      </div>

      <div class="mb-3">
        <label for="example-email" class="sr-only">Email</label>
        <input id="example-email" :model="fields.email" type="email" placeholder="Email Address" class="p-3 w-full rounded border border-gray-300 bg-white shadow">
      </div>

      <div class="mb-3 flex items-center gap-3">
        <div>
          <label for="example-age" class="sr-only">Age</label>
          <input id="example-age" :model="fields.age" type="number" placeholder="Age" class="p-3 w-18 rounded border border-gray-300 bg-white shadow">
        </div>
        <span class="text-sm text-gray-500" :show="fields.age">
          only <span :text="to100"></span> years until you're 100!
        </span>
      </div>

      <label class="mb-3 flex gap-2 text-sm select-none">
        <input :model="agree" type="checkbox" /> I agree to the terms of use
      </label>

      <button type="submit" :disabled="disabled">Submit</button>

    </form>

  </article>

</main>

<script type="module">
import Component from './index.js';

class Counter extends Component {
  static state = { count: 5 };
  get doubled() { return this.state.count * 2; }
  update(state) { console.log(this.constructor.name, 'updated', {...state}); }
  inc() { this.state.count++; }
  dec() { this.state.count--; }
}

class Form extends Component {

  static state = {
    fields: {
      name: 'John Smith',
      email: '',
      age: null,
    },
    errors: {

    },
    agree: false
  };

  init() {
    console.group(this.constructor.name, 'mounted');
    console.log(this.el)
    console.log(this.dom);
    console.log(this.props);
    console.log({...this.state});
    console.groupEnd();
  }

  get firstName() {
    return this.state.fields.name.split(' ')[0];
  }

  get to100() {
    return 100 - this.state.fields.age;
  }

  get disabled() {
    return !this.state.agree || !this.state.fields.name.trim().length;
  }

  submit(event) {
    console.log('submit', this.state);
    alert(`Hi ${this.firstName}!`);
  }
}

document.querySelectorAll('[data-state]').forEach(el => new Component(el));
new Counter('#counter');
new Form('#example');

</script>

<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<style type="text/tailwindcss">
@layer base {
  button {
    @apply text-base bg-gray-200 font-medium px-4 py-2 rounded-sm cursor-pointer hover:bg-gray-300 transition-colors;
  }
  button:disabled {
    @apply bg-gray-100 text-gray-400 cursor-not-allowed;
  }
  span.active {
    @apply bg-green-600;
  }
  span.inactive {
    @apply bg-red-600;
  }
}
</style>

</body>
</html>
