<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>@tmbr/component</title>

</head>
<body>

<main class="max-w-2xl my-10 mx-auto px-10 grid gap-10">

  <article>

    <h2 class="mb-3 text-2xl font-bold">Counter</h2>

    <div class="flex" data-state="{count: 0}">
      <button @click="count--" class="rounded-r-none" aria-label="Increment" :disabled="count <= 0">-</button>
      <div :text="count" class="bg-white border-y border-y-gray-200 grid place-content-center font-mono w-12 text-center"></div>
      <button @click="count++" class="rounded-l-none" aria-label="Decrement">+</button>
    </div>

  </article>

  <article>

    <h2 class="mb-3 text-2xl font-bold">Toggle</h2>

    <div class="flex gap-2" data-state="{active: true}">
      <span class="w-20 grid place-content-center rounded-sm font-semibold text-white text-center select-none" :class="{active: active, inactive: !active}" :text="active ? 'ON' : 'OFF'"></span>
      <button class="w-30" @click="active = !active" :text="active ? 'Deactivate' : 'Activate'"></button>
    </div>

  </article>

  <article data-state="{index: 0}">

    <h2 class="mb-3 text-2xl font-bold">Tabs</h2>

    <div role="tablist" class="flex gap-2">
      <button class="rounded-b-none" :class="[index === 0 ? 'bg-gray-100' : 'bg-gray-400']" role="tab" id="tab-1" aria-controls="tabpanel-1" :aria-selected="index === 0 ? 'true' : 'false'" @click="index = 0">
        Colorado
      </button>
      <button class="rounded-b-none" :class="[index === 1 ? 'bg-gray-100' : 'bg-gray-400']" role="tab" id="tab-2" aria-controls="tabpanel-2" :aria-selected="index === 1 ? 'true' : 'false'" @click="index = 1">
        Minnesota
      </button>
    </div>

    <div role="tabpanel" id="tabpanel-1" aria-labelledby="tab-1" :hidden="index !== 0" class="p-5 bg-gray-100">
      <h3 class="text-lg font-semibold mb-2">Colorado</h3>
      <p>Lorem ipsum dolor sit amet, urna class vestibulum tincidunt atque, habitasse sit wisi erat dapibus. Vitae curae natoque a, donec nulla conubia in mollis. Sapien pede in tortor, lectus neque.</p>
    </div>

    <div role="tabpanel" id="tabpanel-2" aria-labelledby="tab-2" :hidden="index !== 1" class="p-5 bg-gray-100">
      <h3 class="text-lg font-semibold mb-2">Minnesota</h3>
      <p>Dolor ullamco sint cupidatat labore magna adipisicing elit exercitation pariatur laborum esse sint pariatur. Ullamco incididunt enim eu labore ut. Ut occaecat elit enim do occaecat aliqua laboris.</p>
    </div>

  </article>

  <article class="bg-gray-50 p-6">

    <h2 class="mb-3 text-2xl font-bold">Form</h2>

    <form id="example" @submit.prevent="submit" data-props="{date: '2026-02-19'}">

        <div class="mb-3">
          <label for="example-name" class="sr-only">Full Name</label>
          <input id="example-name" :model="name" type="text" name="name" placeholder="Full Name" class="p-3 w-full rounded border border-gray-300 bg-white shadow">
        </div>

        <div class="mb-3">
          <label for="example-age" class="sr-only">Age</label>
          <input id="example-age" :model="age" type="number" name="age" placeholder="Age" class="p-3 w-full rounded border border-gray-300 bg-white shadow">
        </div>

        <label class="mb-3 flex gap-2 text-sm select-none">
          <input :model="agree" type="checkbox" />
          I agree to the terms of use
        </label>

        <button type="submit" :disabled="!agree">Submit</button>
        <div class="mt-3 text-sm text-gray-400" :show="!agree">Hey <span :text="firstName"></span>, you must agree to the terms to submit</div>

      </form>

    </div>

  </article>

  <div id="counter">
    <button type="button" @click="dec" :disabled="count <= 0">Remove</button>
    <span :text="count"></span>
    <button type="button" @click="inc">Add</button>
    <span :show="count >= 10">Count is dangerously high</span>
  </div>

</main>

<script type="module">
import Component from './index.js';

class Counter extends Component {

  static state = {
    count: 0
  };

  init() {
    console.log('mounted');
  }

  inc() {
    this.state.count++;
  }

  dec() {
    this.state.count--;
  }

  update(state) {
    console.log(`updated: ${state.count}`);
  }
}

class Form extends Component {

  static state = {
    status: 'idle',
    name: 'John Smith',
    age: 45,
    agree: false
  };

  constructor(el) {
    super(el);
    console.log(this.el)
    console.log(this.dom);
    console.table(this.props);
    console.table(this.state);
  }

  get firstName() {
    return this.state.name.split(' ')[0];
  }

  submit(event) {
    console.log('submit', event.target, this.state);
  }
}

document.querySelectorAll('[data-state]').forEach(el => new Component(el));
new Counter('#counter');
new Form('#example');

</script>

<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<style type="text/tailwindcss">
@layer base {
  button {
    @apply text-base bg-gray-200 font-medium px-4 py-2 rounded-sm cursor-pointer hover:bg-gray-300 transition-colors;
  }
  button:disabled {
    @apply cursor-not-allowed;
  }
  span.active {
    @apply bg-green-600;
  }
  span.inactive {
    @apply bg-red-600;
  }
}
</style>

</body>
</html>
